# Series

# Creating a pandas Series
there are two ways of creating series 
1. using Python list
2. using Dictionary

In [1]:

import pandas as pd

Python List

In [2]:
# we will use Series function to create a pandas series
# make sure that the letter 'S' in Series is capital
df = pd.Series([200,600,800,400,1000])
print(df)

0     200
1     600
2     800
3     400
4    1000
dtype: int64

*Labels*<br>
Labels are called as index in pandas

In [3]:
df = pd.Series([200,300,400,500,600])
# accessing the first element of the series
print(df[0])

200

In [4]:
# while creating an array we can specify our own index(labels) for the series
# for that we have to parameter use  index 
df = pd.Series([200,300,400,500,600],index=['a','b','c','d','e'])
print(df)

a    200
b    300
c    400
d    500
e    600
dtype: int64

In [5]:
# Accessing the element using labels(index)
print(df['a'])

200

In [6]:
# when specifying the label(index) we use .index method to assign the labels to the series
df = pd.Series([200,300,400,500,600])
df.index = ['a','b','c','d','e']
print(df)

a    200
b    300
c    400
d    500
e    600
dtype: int64

In [7]:
# while we are specifying the index for the values in the series we can also change the index after creating the series
df = pd.Series([200,300,400,500,600])
df.index = ['x','y','z','p','q']
print(df)

x    200
y    300
z    400
p    500
q    600
dtype: int64

In [8]:
# we can specify the data type of the values in the series using dtype parameter
df = pd.Series([200,300,400,500,600],index=['a','b','c','d','e'],dtype = float)
print(df)

a    200.0
b    300.0
c    400.0
d    500.0
e    600.0
dtype: float64

In [9]:
# we can also specify the data type of the values in the series using astype() method
df = pd.Series([200,300,400,500,600],index=['a','b','c','d','e'])
df = df.astype(int)
print(df)

a    200
b    300
c    400
d    500
e    600
dtype: int64

In [10]:
# we can set the name of the a series using name parameter
df = pd.Series([200,300,400,500,600], name="Land Size")
print(df)

0    200
1    300
2    400
3    500
4    600
Name: Land Size, dtype: int64

In [11]:
# to get the name of the series we will use variablename.name
print(df.name)

Land Size

In [12]:
# we can change the name of the series using name attribute
df.name = "Area of Land"
print(df)

0    200
1    300
2    400
3    500
4    600
Name: Area of Land, dtype: int64

# Create Series From a Python Dictionary

In [13]:
marks = {'Maths':90,'Science':80,'English':85}
x = pd.Series(marks)
print(x)
# here first we have a dictionary and later we have converted that into pandas Series
# here the keys of the dictionary are the labels(index) of the series

Maths      90
Science    80
English    85
dtype: int64

In [14]:
# we can access the elements of the series by using the labels(index) of the series
marks = {'Maths':90,'Science':80,'English':85}
x = pd.Series(marks,index=['Maths','science'])
print(x)

Maths      90.0
science     NaN
dtype: float64