In [239]:
import pandas as pd

In [240]:
# read_csv() is used to read csv file and create a DataFrame from it
# we can also use read_excel() to read excel files and create a DataFrame from it
# we can also use read_json() to read json files and create a DataFrame from it
df = pd.read_csv('student_performance.csv')
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0        S0001   15    Male     12                   65.0         NaN
1        S0002   19  Female      9                   58.0        80.0
2        S0003   14  Female     12                    NaN        83.0
3        S0004   18  Female      9                   68.0        68.0
4        S0005   14    Male     10                   80.0        41.0
..         ...  ...     ...    ...                    ...         ...
143      S0144   14    Male     11                   94.0         NaN
144      S0145   19    Male     12                   56.0        83.0
145      S0146   19  Female     12                    NaN        51.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
0              NaN           72.0             50.33
1             44.0           35.0             53.00
2             73.0           59.0             71.67
3              NaN           77.0             64.33
4              NaN           36.0             41.00
..             ...            ...               ...
143            NaN           82.0             64.33
144            NaN           97.0             93.00
145           48.0           44.0             47.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

[148 rows x 9 columns]

In [241]:
# to print the entire DataFrame we can use to_string() method
print(df.to_string())

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  Science_Score  English_Score  Final_Percentage
0        S0001   15    Male     12                   65.0         NaN            NaN           72.0             50.33
1        S0002   19  Female      9                   58.0        80.0           44.0           35.0             53.00
2        S0003   14  Female     12                    NaN        83.0           73.0           59.0             71.67
3        S0004   18  Female      9                   68.0        68.0            NaN           77.0             64.33
4        S0005   14    Male     10                   80.0        41.0            NaN           36.0             41.00
5        S0006   19    Male     12                   82.0        88.0           70.0            NaN             68.00
6        S0007   16    Male     12                    NaN        75.0           69.0           64.0             69.33
7        S0008   18  Female     11                   81.0        93.0           37.0           48.0             59.33
8        S0009   18  Female     11                   61.0        55.0           39.0            NaN             59.00
9        S0010   18    Male     10                   97.0         NaN           73.0           73.0             72.67
10       S0011   14  Female      9                    NaN        95.0            NaN           69.0             83.00
11       S0012   18  Female      9                   74.0        54.0           38.0           59.0             50.33
12       S0013   19    Male     10                   64.0        35.0           95.0            NaN             55.67
13       S0014   17  Female     10                   76.0        79.0           82.0          100.0               NaN
14       S0015   15  Female     10                   60.0        55.0            NaN            NaN             64.00
15       S0016   17    Male     12                   67.0        68.0            NaN           81.0             63.00
16       S0017   16    Male     10                   66.0         NaN            NaN           96.0             68.00
17       S0018   14  Female      9                   89.0        71.0           40.0           59.0               NaN
18       S0019   14  Female     12                  100.0        45.0           85.0           74.0             68.00
19       S0020   19    Male     11                   66.0        75.0            NaN           59.0             70.67
20       S0021   15  Female     10                   65.0         NaN           80.0           70.0             65.33
21       S0022   15    Male     12                    NaN       100.0           96.0           99.0             98.33
22       S0023   19  Female     12                   72.0        72.0           40.0           63.0             58.33
23       S0024   14  Female     10                   54.0         NaN           37.0           79.0             58.00
24       S0025   17    Male     10                   98.0         NaN           53.0           38.0               NaN
25       S0026   19  Female      9                   78.0        68.0           80.0           69.0             72.33
26       S0027   19  Female     12                   75.0        56.0           79.0            NaN             62.33
27       S0028   14    Male     12                   91.0        57.0           51.0           35.0             47.67
28       S0029   19  Female     12                   87.0        61.0           91.0            NaN             67.00
29       S0030   16  Female     11                    NaN        81.0           68.0            NaN             63.67
30       S0031   18  Female      9                   85.0        64.0           58.0           93.0             71.67
31       S0032   17    Male     12                   78.0        47.0           81.0           87.0             71.67
32       S0033   17    Male     10                    NaN        54.0           49.0            NaN             59.33
33       S0034   17  Female     11                   94.0        56.0           51.0           45.0             50.67
34       S0035   15  Female     12                   79.0        97.0           95.0           53.0             81.67
35       S0036   18  Female     10                   87.0        95.0           86.0           35.0             72.00
36       S0037   18  Female     10                   54.0        82.0            NaN           71.0             84.33
37       S0038   18    Male     11                    NaN        65.0           56.0           73.0             64.67
38       S0039   16    Male     11                   97.0        75.0            NaN           94.0             77.67
39       S0040   17    Male     12                  100.0        68.0            NaN           88.0             64.67
40       S0041   16    Male     10                   95.0        56.0           84.0           57.0             65.67
41       S0042   19  Female     11                   64.0        62.0           82.0           95.0             79.67
42       S0043   18    Male     12                    NaN         NaN           70.0            NaN             60.67
43       S0044   16  Female      9                   68.0        37.0            NaN           98.0             70.33
44       S0045   14  Female     10                   91.0        36.0          100.0           76.0             70.67
45       S0046   14    Male      9                   55.0        87.0           37.0           55.0             59.67
46       S0047   14    Male     10                   96.0        68.0           63.0           78.0             69.67
47       S0048   19    Male     12                   80.0        46.0           49.0           92.0             62.33
48       S0049   17    Male     12                   63.0        41.0           86.0           46.0             57.67
49       S0050   14  Female     11                   95.0        44.0           83.0           83.0             70.00
50       S0051   18    Male     11                   69.0        99.0           77.0           84.0             86.67
51       S0052   18  Female     11                   63.0        82.0            NaN           72.0             72.33
52       S0053   15    Male     11                   76.0        82.0           87.0           42.0             70.33
53       S0054   17  Female     11                   92.0         NaN           75.0            NaN             72.67
54       S0055   17  Female     11                   80.0        74.0           37.0           46.0               NaN
55       S0056   15  Female     12                   75.0        86.0           71.0           79.0             78.67
56       S0057   16  Female     12                    NaN        81.0           72.0           85.0             79.33
57       S0058   19    Male      9                   64.0         NaN           57.0           69.0             64.00
58       S0059   14    Male     12                    NaN        67.0            NaN          100.0             83.00
59       S0060   17  Female     10                   51.0        68.0           74.0           81.0             74.33
60       S0061   14    Male      9                   82.0         NaN            NaN           53.0             67.00
61       S0062   17  Female     10                   99.0        78.0           35.0           91.0             68.00
62       S0063   19  Female     11                   66.0        95.0           82.0           89.0             88.67
63       S0064   19  Female     12                   56.0        75.0           40.0           40.0             51.67
64       S0065   19    Male     12                   84.0        85.0           71.0           53.0             69.67
65       S0066   14  Female     10                   55.0        67.0           60.0           84.0             70.33
66       S0067   14  Female     10                   71.0        64.0           47.0           66.0             59.00
67       S0068   17    Male     10                   96.0        43.0           86.0           65.0             64.67
68       S0069   17    Male     10                    NaN        35.0           77.0           97.0             69.67
69       S0070   16  Female      9                   91.0        93.0           93.0           41.0             75.67
70       S0071   14  Female     10                   50.0        90.0           81.0            NaN             73.00
71       S0072   14    Male     12                   58.0        71.0           96.0            NaN             78.00
72       S0073   17  Female     11                    NaN        60.0           49.0           83.0             64.00
73       S0074   15  Female     11                   57.0        85.0            NaN           67.0             74.33
74       S0075   18    Male      9                   84.0         NaN           85.0           75.0             72.00
75       S0076   17  Female     12                   67.0        78.0            NaN           88.0             71.67
76       S0077   14    Male     12                   50.0        47.0            NaN           65.0             58.00
77       S0078   14  Female     10                    NaN        48.0           77.0           89.0             71.33
78       S0079   16    Male     11                   91.0        52.0            NaN           44.0               NaN
79       S0080   18  Female     11                   87.0        38.0           97.0           75.0             70.00
80       S0081   16  Female     10                   68.0        81.0           76.0           62.0             73.00
81       S0082   14  Female      9                   82.0        73.0            NaN           93.0               NaN
82       S0083   14    Male     12                   98.0        45.0            NaN           38.0             40.33
83       S0084   14    Male     11                    NaN        36.0          100.0           90.0             75.33
84       S0085   15  Female      9                   92.0        56.0           39.0            NaN             47.00
85       S0086   17  Female     10                   68.0       100.0           66.0           94.0             86.67
86       S0087   17  Female     12                   60.0        71.0           74.0           42.0             62.33
87       S0088   19  Female     11                   60.0        40.0           41.0           84.0             55.00
88       S0089   14  Female     10                   93.0        48.0           79.0           64.0             63.67
89       S0090   16  Female     11                   55.0         NaN           35.0           75.0             55.67
90       S0091   18    Male     12                   83.0        63.0           41.0           53.0             52.33
91       S0092   19    Male     11                   54.0        42.0           61.0           48.0             50.33
92       S0093   18  Female     11                   50.0        61.0           51.0           70.0             60.67
93       S0094   18  Female      9                   50.0        99.0           70.0           39.0             69.33
94       S0095   19  Female     10                   76.0        95.0           79.0           83.0             85.67
95       S0096   19  Female     12                   73.0        50.0           47.0           61.0             52.67
96       S0097   19  Female     11                   75.0         NaN           98.0           68.0             72.00
97       S0098   14  Female     12                    NaN        60.0           49.0           36.0             48.33
98       S0099   15    Male      9                    NaN        85.0           78.0           55.0             72.67
99       S0100   14    Male     12                   84.0        46.0           77.0           76.0             66.33
100      S0101   17  Female     11                    NaN        76.0           76.0           79.0               NaN
101      S0102   18  Female      9                   92.0        91.0           37.0           78.0             68.67
102      S0103   17  Female      9                   90.0        71.0           92.0           36.0             66.33
103      S0104   14    Male     12                   89.0        80.0           77.0           81.0             79.33
104      S0105   14    Male      9                   61.0        97.0           36.0           57.0             63.33
105      S0106   15  Female     12                   72.0        77.0           73.0           65.0             71.67
106      S0107   15  Female     11                   67.0        93.0           67.0           47.0               NaN
107      S0108   16  Female     12                   57.0        75.0           59.0           54.0             62.67
108      S0109   18    Male     10                   76.0        49.0           44.0           93.0             62.00
109      S0110   16  Female     12                    NaN        86.0           88.0           96.0             90.00
110      S0111   17  Female     12                   88.0        70.0           40.0           47.0               NaN
111      S0112   15  Female     10                   74.0         NaN            NaN           87.0             86.33
112      S0113   15  Female     10                   66.0        65.0           56.0           49.0             56.67
113      S0114   16    Male     10                   51.0        47.0            NaN            NaN             58.67
114      S0115   18  Female     10                   55.0        91.0           43.0           91.0             75.00
115      S0116   19  Female     12                   68.0        55.0           96.0           75.0             75.33
116      S0117   14    Male      9                   77.0        87.0           61.0           47.0               NaN
117      S0118   19  Female     11                   77.0        69.0           68.0           98.0             78.33
118      S0119   15  Female     10                   76.0        94.0           69.0           74.0             79.00
119      S0120   18    Male     12                   55.0        46.0           45.0            NaN               NaN
120      S0121   18    Male      9                   66.0        43.0           85.0           92.0             73.33
121      S0122   18    Male      9                   99.0        90.0           85.0           75.0             83.33
122      S0123   19  Female     10                   68.0        96.0           65.0           69.0             76.67
123      S0124   19    Male     10                   94.0        36.0           82.0           59.0             59.00
124      S0125   14    Male     12                   72.0        59.0           42.0           68.0             56.33
125      S0126   17  Female      9                   66.0        45.0           89.0           71.0             68.33
126      S0127   15    Male     11                   63.0        49.0            NaN          100.0             63.00
127      S0128   17    Male     11                   61.0        70.0           41.0           96.0             69.00
128      S0129   19  Female     10                    NaN        83.0            NaN          100.0             90.67
129      S0130   19  Female      9                   85.0        72.0           96.0           91.0             86.33
130      S0131   15    Male     11                   75.0        71.0           99.0           57.0             75.67
131      S0132   19    Male      9                  100.0        89.0           50.0           85.0             74.67
132      S0133   18  Female     10                   84.0        47.0           93.0           93.0             77.67
133      S0134   14    Male     12                   80.0        59.0           49.0           74.0             60.67
134      S0135   15  Female      9                   97.0        72.0           78.0           92.0               NaN
135      S0136   19  Female     11                   72.0         NaN           49.0           59.0             62.33
136      S0137   19    Male     12                   83.0        81.0           93.0           73.0             82.33
137      S0138   16  Female      9                   88.0         NaN           71.0           83.0             82.67
138      S0139   17    Male     11                   60.0        81.0            NaN           97.0               NaN
139      S0140   14    Male     12                   85.0        56.0           90.0           86.0             77.33
140      S0141   15  Female     10                   89.0        96.0            NaN           59.0             69.00
141      S0142   16  Female      9                   60.0        97.0           77.0           41.0             71.67
142      S0143   15    Male     10                   76.0         NaN           52.0            NaN               NaN
143      S0144   14    Male     11                   94.0         NaN            NaN           82.0             64.33
144      S0145   19    Male     12                   56.0        83.0            NaN           97.0             93.00
145      S0146   19  Female     12                    NaN        51.0           48.0           44.0             47.67
146      S0147   19    Male     11                   54.0        96.0           56.0           50.0             67.33
147      S0148   19  Female     11                   91.0        65.0           51.0           65.0             60.33

In [242]:
# to print the first 5 rows we can use head() method
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score  Final_Percentage
0            NaN           72.0             50.33
1           44.0           35.0             53.00
2           73.0           59.0             71.67
3            NaN           77.0             64.33
4            NaN           36.0             41.00

In [243]:
# by default it print the first 5 rows if we didnt specify the number of rows to print
# we can also specift the number of rows we want to print by number in head() method
print(df.head(7))

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0
5      S0006   19    Male     12                   82.0        88.0
6      S0007   16    Male     12                    NaN        75.0

   Science_Score  English_Score  Final_Percentage
0            NaN           72.0             50.33
1           44.0           35.0             53.00
2           73.0           59.0             71.67
3            NaN           77.0             64.33
4            NaN           36.0             41.00
5           70.0            NaN             68.00
6           69.0           64.0             69.33

In [244]:
# to print the last 5 rows we use tail() method by default it prints last 5 rows
print(df.tail())

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
143      S0144   14    Male     11                   94.0         NaN
144      S0145   19    Male     12                   56.0        83.0
145      S0146   19  Female     12                    NaN        51.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
143            NaN           82.0             64.33
144            NaN           97.0             93.00
145           48.0           44.0             47.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

In [245]:
# we can also the specify the number of rows we want to print in tail() method
print(df.tail(3))

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
145      S0146   19  Female     12                    NaN        51.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
145           48.0           44.0             47.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

In [246]:
# to get the number of rows and columns in the DataFrame we can use shape attribute
print(df.shape)

(148, 9)

In [247]:
# to get the shape of rows
print(df.shape[0])

148

In [248]:
# to get the shape of columns
print(df.shape[1])

9

In [249]:
# this is a problem given in leetcode to get the number of rows and columns in the DataFrame
[df.shape[0],df.shape[1]]

[148, 9]

In [250]:
# to get the columns in a file we can use column attribute
print(df.columns)

Index(['Student_ID', 'Age', 'Gender', 'Class', 'Attendance_Percentage',
       'Math_Score', 'Science_Score', 'English_Score', 'Final_Percentage'],
      dtype='str')

In [251]:
# to get the information about the DataFrame we can use info() method
print(df.info())

<class 'pandas.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student_ID             148 non-null    str
 1   Age                    148 non-null    int64
 2   Gender                 148 non-null    str
 3   Class                  148 non-null    int64
 4   Attendance_Percentage  128 non-null    float64
 5   Math_Score             130 non-null    float64
 6   Science_Score          119 non-null    float64
 7   English_Score          132 non-null    float64
 8   Final_Percentage       134 non-null    float64
dtypes: float64(5), int64(2), str(2)
memory usage: 10.5 KB
None

In [252]:
# to get the statistical summary of the DataFrame we can use describe() method
print(df.describe())

              Age       Class  Attendance_Percentage  Math_Score  \
count  148.000000  148.000000             128.000000  130.000000
mean    16.567568   10.641892              74.992188   68.730769
std      1.859567    1.106629              14.466086   18.450768
min     14.000000    9.000000              50.000000   35.000000
25%     15.000000   10.000000              63.750000   54.250000
50%     17.000000   11.000000              75.000000   70.000000
75%     18.000000   12.000000              87.250000   83.000000
max     19.000000   12.000000             100.000000  100.000000

       Science_Score  English_Score  Final_Percentage
count     119.000000     132.000000        134.000000
mean       67.268908      70.446970         68.226493
std        19.448627      18.908908         10.919214
min        35.000000      35.000000         40.330000
25%        49.000000      56.500000         61.002500
50%        71.000000      72.500000         69.000000
75%        82.000000      86.250000         74.585000
max       100.000000     100.000000         98.330000

In [253]:
# you can sort values in the dataframe by a specific column using sort_values() method and specify the column name in by parameter
df.sort_values(by="Age")
# so if you observe the dataframe is sorted by age but the changes are not reflected in the original DataFrame because we have not used inplace=True in the sort_values() method
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0        S0001   15    Male     12                   65.0         NaN
1        S0002   19  Female      9                   58.0        80.0
2        S0003   14  Female     12                    NaN        83.0
3        S0004   18  Female      9                   68.0        68.0
4        S0005   14    Male     10                   80.0        41.0
..         ...  ...     ...    ...                    ...         ...
143      S0144   14    Male     11                   94.0         NaN
144      S0145   19    Male     12                   56.0        83.0
145      S0146   19  Female     12                    NaN        51.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
0              NaN           72.0             50.33
1             44.0           35.0             53.00
2             73.0           59.0             71.67
3              NaN           77.0             64.33
4              NaN           36.0             41.00
..             ...            ...               ...
143            NaN           82.0             64.33
144            NaN           97.0             93.00
145           48.0           44.0             47.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

[148 rows x 9 columns]

In [254]:
df.sort_values(by="Age",inplace = True)
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
23       S0024   14  Female     10                   54.0         NaN
45       S0046   14    Male      9                   55.0        87.0
99       S0100   14    Male     12                   84.0        46.0
97       S0098   14  Female     12                    NaN        60.0
27       S0028   14    Male     12                   91.0        57.0
..         ...  ...     ...    ...                    ...         ...
115      S0116   19  Female     12                   68.0        55.0
117      S0118   19  Female     11                   77.0        69.0
122      S0123   19  Female     10                   68.0        96.0
12       S0013   19    Male     10                   64.0        35.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
23            37.0           79.0             58.00
45            37.0           55.0             59.67
99            77.0           76.0             66.33
97            49.0           36.0             48.33
27            51.0           35.0             47.67
..             ...            ...               ...
115           96.0           75.0             75.33
117           68.0           98.0             78.33
122           65.0           69.0             76.67
12            95.0            NaN             55.67
147           51.0           65.0             60.33

[148 rows x 9 columns]

# Unique()

we wil use this method to get the unique values from a specific column (it also counts Nan(null values))

In [255]:
df = pd.read_csv('student_performance.csv')
df['Math_Score'].unique()

array([ nan,  80.,  83.,  68.,  41.,  88.,  75.,  93.,  55.,  95.,  54.,
        35.,  79.,  71.,  45., 100.,  72.,  56.,  57.,  61.,  81.,  64.,
        47.,  97.,  82.,  65.,  62.,  37.,  36.,  87.,  46.,  44.,  99.,
        74.,  86.,  67.,  78.,  85.,  43.,  90.,  60.,  48.,  52.,  38.,
        73.,  40.,  63.,  42.,  50.,  76.,  91.,  77.,  49.,  70.,  69.,
        94.,  96.,  59.,  89.,  51.])

In [256]:
# to get the length of unique() values in a column we can use len() function and unique() method together   
len(df['Math_Score'].unique())

60

In [257]:
# Task
# now calculate the number of unique values in the Science_Score column

# nunique()
 it is used to return the number unique values in a sepcific column <br>
 it does not include Nan values(null values)

In [258]:
df['Math_Score'].nunique()

59

In [259]:
# Task
# now calculate the number of nunique values in the Science_Score column

# value_counts()
Return a Series containing counts of unique values.

In [260]:
import pandas as pd

df = pd.DataFrame({
    "gender": ["Male","Female","Male","Female","Male","Male"],
    "payment_mode": ["UPI","COD","UPI","Card","UPI","COD"],
    "age": [23, 25, 23, 30, None, 25],
    "city": ["Delhi","Delhi","Mumbai","Delhi","Mumbai","Chennai"],
    "status": ["active","inactive","active","active","active","inactive"]
})
print(df)

   gender payment_mode   age     city    status
0    Male          UPI  23.0    Delhi    active
1  Female          COD  25.0    Delhi  inactive
2    Male          UPI  23.0   Mumbai    active
3  Female         Card  30.0    Delhi    active
4    Male          UPI   NaN   Mumbai    active
5    Male          COD  25.0  Chennai  inactive

In [261]:
# here it gives the count of unique values in the gender column
df["gender"].value_counts()

gender
Male      4
Female    2
Name: count, dtype: int64

In [262]:
# here it gives the count of unique values in the payment_mode column and also gives the percentage of each unique value in the payment_mode column
df["payment_mode"].value_counts(normalize=True)
# normalise parameter default value is False

payment_mode
UPI     0.500000
COD     0.333333
Card    0.166667
Name: proportion, dtype: float64

In [263]:
# we can also use multiple columns in value_counts() 
df.value_counts(["city", "payment_mode"])

city     payment_mode
Mumbai   UPI             2
Delhi    UPI             1
         COD             1
         Card            1
Chennai  COD             1
Name: count, dtype: int64

In [264]:
# here it gives also gives nan values if use use this parameter dropna=False in value_counts() method
df["age"].value_counts(dropna=False)
# dropna default vale is True

age
23.0    2
25.0    2
30.0    1
NaN     1
Name: count, dtype: int64

# TASK
HERE IS ANOTHER DATA FILE (player_20.csv) DO THE SAME EXAMPLES BELOW WHICH I HAVE DONE ABOVE FOR BETTER PRACTICE

In [265]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0