In [80]:
import pandas as pd
import numpy as np

In [81]:
df = pd.read_csv('student_performance.csv')
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0        S0001   15    Male     12                   65.0         NaN
1        S0002   19  Female      9                   58.0        80.0
2        S0003   14  Female     12                    NaN        83.0
3        S0004   18  Female      9                   68.0        68.0
4        S0005   14    Male     10                   80.0        41.0
..         ...  ...     ...    ...                    ...         ...
143      S0144   14    Male     11                   94.0         NaN
144      S0145   19    Male     12                   56.0        83.0
145      S0146   19  Female     12                    NaN        51.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
0              NaN           72.0             50.33
1             44.0           35.0             53.00
2             73.0           59.0             71.67
3              NaN           77.0             64.33
4              NaN           36.0             41.00
..             ...            ...               ...
143            NaN           82.0             64.33
144            NaN           97.0             93.00
145           48.0           44.0             47.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

[148 rows x 9 columns]

In [82]:
# to get the shape of columns
print(df.shape[1])

9

In [83]:
# to get the shape of rows
print(df.shape[0])

148

In [84]:
# checking whether there is null values or not in the DataFrame for that we can use two methods both are same and gives same output
print(df.isnull())

     Student_ID    Age  Gender  Class  Attendance_Percentage  Math_Score  \
0         False  False   False  False                  False        True
1         False  False   False  False                  False       False
2         False  False   False  False                   True       False
3         False  False   False  False                  False       False
4         False  False   False  False                  False       False
..          ...    ...     ...    ...                    ...         ...
143       False  False   False  False                  False        True
144       False  False   False  False                  False       False
145       False  False   False  False                   True       False
146       False  False   False  False                  False       False
147       False  False   False  False                  False       False

     Science_Score  English_Score  Final_Percentage
0             True          False             False
1            False          False             False
2            False          False             False
3             True          False             False
4             True          False             False
..             ...            ...               ...
143           True          False             False
144           True          False             False
145          False          False             False
146          False          False             False
147          False          False             False

[148 rows x 9 columns]

In [85]:
print(df.isna())

     Student_ID    Age  Gender  Class  Attendance_Percentage  Math_Score  \
0         False  False   False  False                  False        True
1         False  False   False  False                  False       False
2         False  False   False  False                   True       False
3         False  False   False  False                  False       False
4         False  False   False  False                  False       False
..          ...    ...     ...    ...                    ...         ...
143       False  False   False  False                  False        True
144       False  False   False  False                  False       False
145       False  False   False  False                   True       False
146       False  False   False  False                  False       False
147       False  False   False  False                  False       False

     Science_Score  English_Score  Final_Percentage
0             True          False             False
1            False          False             False
2            False          False             False
3             True          False             False
4             True          False             False
..             ...            ...               ...
143           True          False             False
144           True          False             False
145          False          False             False
146          False          False             False
147          False          False             False

[148 rows x 9 columns]

In [86]:
# if we .sum on the null values it will give us the count of null values in each column
print(df.isnull().sum())

Student_ID                0
Age                       0
Gender                    0
Class                     0
Attendance_Percentage    20
Math_Score               18
Science_Score            29
English_Score            16
Final_Percentage         14
dtype: int64

In [87]:
print(df.isna().sum())

Student_ID                0
Age                       0
Gender                    0
Class                     0
Attendance_Percentage    20
Math_Score               18
Science_Score            29
English_Score            16
Final_Percentage         14
dtype: int64

In [88]:
# tho drop the columns which have null values we can use dropna() method
df.dropna(inplace=True) # inplace=True will make the changes in the original DataFrame
# if we use df.dropna() without inplace=True it will return a new DataFrame with the dropped columns but the original DataFrame will remain unchanged
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
1        S0002   19  Female      9                   58.0        80.0
7        S0008   18  Female     11                   81.0        93.0
11       S0012   18  Female      9                   74.0        54.0
18       S0019   14  Female     12                  100.0        45.0
22       S0023   19  Female     12                   72.0        72.0
..         ...  ...     ...    ...                    ...         ...
136      S0137   19    Male     12                   83.0        81.0
139      S0140   14    Male     12                   85.0        56.0
141      S0142   16  Female      9                   60.0        97.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
1             44.0           35.0             53.00
7             37.0           48.0             59.33
11            38.0           59.0             50.33
18            85.0           74.0             68.00
22            40.0           63.0             58.33
..             ...            ...               ...
136           93.0           73.0             82.33
139           90.0           86.0             77.33
141           77.0           41.0             71.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

[74 rows x 9 columns]

Using inplace=True in pandas is a way to modify the original DataFrame or Series directly without creating a new object in memory. The primary reasons for using it are to update the original variable and, in some rare cases, to potentially save memory when working with very large datasets

In [89]:
# if you want to remove the rows containing null values we can use axis = 0 in the dropna() method
# as we have already removed the rows containing null values in the previous example so there is no change in the DataFrame
# if we didnt specify the axis parameter it will remove the rows containing null values by default
df.dropna(inplace=True,axis = 0)
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
1        S0002   19  Female      9                   58.0        80.0
7        S0008   18  Female     11                   81.0        93.0
11       S0012   18  Female      9                   74.0        54.0
18       S0019   14  Female     12                  100.0        45.0
22       S0023   19  Female     12                   72.0        72.0
..         ...  ...     ...    ...                    ...         ...
136      S0137   19    Male     12                   83.0        81.0
139      S0140   14    Male     12                   85.0        56.0
141      S0142   16  Female      9                   60.0        97.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
1             44.0           35.0             53.00
7             37.0           48.0             59.33
11            38.0           59.0             50.33
18            85.0           74.0             68.00
22            40.0           63.0             58.33
..             ...            ...               ...
136           93.0           73.0             82.33
139           90.0           86.0             77.33
141           77.0           41.0             71.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

[74 rows x 9 columns]

In [90]:
df.dropna(inplace=True,axis = 1)
# if you want to remove the columns containing null values we can use axis = 1 in the dropna() method
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
1        S0002   19  Female      9                   58.0        80.0
7        S0008   18  Female     11                   81.0        93.0
11       S0012   18  Female      9                   74.0        54.0
18       S0019   14  Female     12                  100.0        45.0
22       S0023   19  Female     12                   72.0        72.0
..         ...  ...     ...    ...                    ...         ...
136      S0137   19    Male     12                   83.0        81.0
139      S0140   14    Male     12                   85.0        56.0
141      S0142   16  Female      9                   60.0        97.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
1             44.0           35.0             53.00
7             37.0           48.0             59.33
11            38.0           59.0             50.33
18            85.0           74.0             68.00
22            40.0           63.0             58.33
..             ...            ...               ...
136           93.0           73.0             82.33
139           90.0           86.0             77.33
141           77.0           41.0             71.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

[74 rows x 9 columns]

In [91]:
# here is another example by using axis = 1 to drop the columns containing null values
df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [4, None, 6]})
print(df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [92]:
# you can drop null values from specific column by using subset parameter
df = pd.read_csv('student_performance.csv')
df.dropna(subset=['Math_Score'], inplace=True)
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
1        S0002   19  Female      9                   58.0        80.0
2        S0003   14  Female     12                    NaN        83.0
3        S0004   18  Female      9                   68.0        68.0
4        S0005   14    Male     10                   80.0        41.0
5        S0006   19    Male     12                   82.0        88.0
..         ...  ...     ...    ...                    ...         ...
141      S0142   16  Female      9                   60.0        97.0
144      S0145   19    Male     12                   56.0        83.0
145      S0146   19  Female     12                    NaN        51.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
1             44.0           35.0             53.00
2             73.0           59.0             71.67
3              NaN           77.0             64.33
4              NaN           36.0             41.00
5             70.0            NaN             68.00
..             ...            ...               ...
141           77.0           41.0             71.67
144            NaN           97.0             93.00
145           48.0           44.0             47.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

[130 rows x 9 columns]

In [93]:
# you can drop null values from specific column by using subset parameter
x = pd.DataFrame({'A': [1, np.nan, 3], 'B': [4, 5, None]})
print(x)
print('\n')
print(x.dropna(subset=['A']))

     A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN


     A    B
0  1.0  4.0
2  3.0  NaN

In [94]:
# here is the example with using inplace = True and without using inplace = True
y = pd.DataFrame({'X': [1, np.nan, 3], 'Y': [np.nan, 5, 6]})
y.dropna(inplace=True)
print(y)

     X    Y
2  3.0  6.0

In [ ]:
y = pd.DataFrame({'X': [1, np.nan, 3], 'Y': [np.nan, 5, 6]})
y.dropna()
print(y)

     X    Y
0  1.0  NaN
1  NaN  5.0
2  3.0  6.0