# Column Selection

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('/Users/ypragnesh/Desktop/Pandas_Notes/student_performance.csv')
df.head()

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
0,S0001,15,Male,12,65.0,NaN,NaN,72.0,50.33
1,S0002,19,Female,9,58.0,80.0,44.0,35.0,53.00
2,S0003,14,Female,12,NaN,83.0,73.0,59.0,71.67
3,S0004,18,Female,9,68.0,68.0,NaN,77.0,64.33
4,S0005,14,Male,10,80.0,41.0,NaN,36.0,41.00

In [13]:
# we can select particular column from the dataframe using column name
maths_scores = df['Math_Score']
print(maths_scores)
# so if you observe the output we have the values of math score column only

0       NaN
1      80.0
2      83.0
3      68.0
4      41.0
       ...
143     NaN
144    83.0
145    51.0
146    96.0
147    65.0
Name: Math_Score, Length: 148, dtype: float64

In [14]:
# you can select multiple columns by passing a list of column names
selected_columns = df[['Student_ID', 'Math_Score']]
print(selected_columns)

    Student_ID  Math_Score
0        S0001         NaN
1        S0002        80.0
2        S0003        83.0
3        S0004        68.0
4        S0005        41.0
..         ...         ...
143      S0144         NaN
144      S0145        83.0
145      S0146        51.0
146      S0147        96.0
147      S0148        65.0

[148 rows x 2 columns]

# TASK
HERE IS ANOTHER DATA FILE (laptop_prices.csv) DO THE SAME EXAMPLES BELOW WHICH I HAVE DONE ABOVE FOR BETTER PRACTICE

In [15]:
import pandas as pd
df = pd.read_csv('laptop_prices.csv')
print(df.head())

   laptop_ID Company      Product   TypeName  Inches  \
0          1   Apple  MacBook Pro  Ultrabook    13.3
1          2   Apple  Macbook Air  Ultrabook    13.3
2          3      HP       250 G6   Notebook    15.6
3          4   Apple  MacBook Pro  Ultrabook    15.4
4          5   Apple  MacBook Pro  Ultrabook    13.3

                     ScreenResolution                         Cpu   Ram  \
0  IPS Panel Retina Display 2560x1600        Intel Core i5 2.3GHz   8GB
1                            1440x900        Intel Core i5 1.8GHz   8GB
2                   Full HD 1920x1080  Intel Core i5 7200U 2.5GHz   8GB
3  IPS Panel Retina Display 2880x1800        Intel Core i7 2.7GHz  16GB
4  IPS Panel Retina Display 2560x1600        Intel Core i5 3.1GHz   8GB

                Memory                           Gpu  OpSys  Weight  \
0            128GB SSD  Intel Iris Plus Graphics 640  macOS  1.37kg
1  128GB Flash Storage        Intel HD Graphics 6000  macOS  1.34kg
2            256GB SSD         Intel HD Graphics 620  No OS  1.86kg
3            512GB SSD            AMD Radeon Pro 455  macOS  1.83kg
4            256GB SSD  Intel Iris Plus Graphics 650  macOS  1.37kg

   Price_euros
0      1339.69
1       898.94
2       575.00
3      2537.45
4      1803.60