# Column Selection

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/ypragnesh/Desktop/Pandas_Notes/student_performance.csv')
df.head()

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
0,S0001,15,Male,12,65.0,NaN,NaN,72.0,50.33
1,S0002,19,Female,9,58.0,80.0,44.0,35.0,53.00
2,S0003,14,Female,12,NaN,83.0,73.0,59.0,71.67
3,S0004,18,Female,9,68.0,68.0,NaN,77.0,64.33
4,S0005,14,Male,10,80.0,41.0,NaN,36.0,41.00

In [3]:
# we can select particular column from the dataframe using column name
maths_scores = df['Math_Score']
print(maths_scores)
# so if you observe the output we have the values of math score column only

0       NaN
1      80.0
2      83.0
3      68.0
4      41.0
       ...
143     NaN
144    83.0
145    51.0
146    96.0
147    65.0
Name: Math_Score, Length: 148, dtype: float64

In [4]:
# you can select multiple columns by passing a list of column names
selected_columns = df[['Student_ID', 'Math_Score']]
print(selected_columns)

    Student_ID  Math_Score
0        S0001         NaN
1        S0002        80.0
2        S0003        83.0
3        S0004        68.0
4        S0005        41.0
..         ...         ...
143      S0144         NaN
144      S0145        83.0
145      S0146        51.0
146      S0147        96.0
147      S0148        65.0

[148 rows x 2 columns]

# TASK
HERE IS ANOTHER DATA FILE (data.csv) DO THE SAME EXAMPLES BELOW WHICH I HAVE DONE ABOVE FOR BETTER PRACTICE

In [5]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0