# isin()
it used to check whether the values are there in specific column or not

In [164]:
import pandas as pd

In [165]:
df = pd.read_csv('student_performance.csv')
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0        S0001   15    Male     12                   65.0         NaN
1        S0002   19  Female      9                   58.0        80.0
2        S0003   14  Female     12                    NaN        83.0
3        S0004   18  Female      9                   68.0        68.0
4        S0005   14    Male     10                   80.0        41.0
..         ...  ...     ...    ...                    ...         ...
143      S0144   14    Male     11                   94.0         NaN
144      S0145   19    Male     12                   56.0        83.0
145      S0146   19  Female     12                    NaN        51.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
0              NaN           72.0             50.33
1             44.0           35.0             53.00
2             73.0           59.0             71.67
3              NaN           77.0             64.33
4              NaN           36.0             41.00
..             ...            ...               ...
143            NaN           82.0             64.33
144            NaN           97.0             93.00
145           48.0           44.0             47.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

[148 rows x 9 columns]

In [166]:
# here we are checking if the math score is 80 or not for all the rows in the math score column and it will return a boolean value for each row
df['Math_Score'].isin([80])

0      False
1       True
2      False
3      False
4      False
       ...
143    False
144    False
145    False
146    False
147    False
Name: Math_Score, Length: 148, dtype: bool

In [167]:
# we can use isin() method for multiple values
df['Math_Score'].isin([80, 90])

0      False
1       True
2      False
3      False
4      False
       ...
143    False
144    False
145    False
146    False
147    False
Name: Math_Score, Length: 148, dtype: bool

In [168]:
# we can use the boolean masking to filter the rows where the math score is 80 to get the actual rows where the math score is 80
df[df['Math_Score'] == 80]

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
1,S0002,19,Female,9,58.0,80.0,44.0,35.0,53.00
103,S0104,14,Male,12,89.0,80.0,77.0,81.0,79.33

In [169]:
# we can also use loc[] method to filter the rows where the math score is 80
df.loc[df['Math_Score'] == 80]

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
1,S0002,19,Female,9,58.0,80.0,44.0,35.0,53.00
103,S0104,14,Male,12,89.0,80.0,77.0,81.0,79.33

# isin() multiple filtering

In [170]:
# 
f1 = df['Math_Score'] > 80
f2 = df['Science_Score'] > 80
df[f1&f2]

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
21,S0022,15,Male,12,NaN,100.0,96.0,99.0,98.33
34,S0035,15,Female,12,79.0,97.0,95.0,53.0,81.67
35,S0036,18,Female,10,87.0,95.0,86.0,35.0,72.00
52,S0053,15,Male,11,76.0,82.0,87.0,42.0,70.33
62,S0063,19,Female,11,66.0,95.0,82.0,89.0,88.67
69,S0070,16,Female,9,91.0,93.0,93.0,41.0,75.67
70,S0071,14,Female,10,50.0,90.0,81.0,NaN,73.00
109,S0110,16,Female,12,NaN,86.0,88.0,96.0,90.00
121,S0122,18,Male,9,99.0,90.0,85.0,75.0,83.33
136,S0137,19,Male,12,83.0,81.0,93.0,73.0,82.33

# Filtering data using  one condition

In [171]:
df['Math_Score'] == 80

0      False
1       True
2      False
3      False
4      False
       ...
143    False
144    False
145    False
146    False
147    False
Name: Math_Score, Length: 148, dtype: bool

In [172]:
df[df['Math_Score'] == 80]

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
1,S0002,19,Female,9,58.0,80.0,44.0,35.0,53.00
103,S0104,14,Male,12,89.0,80.0,77.0,81.0,79.33

In [173]:
df[df['Math_Score'] != 80]

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
0,S0001,15,Male,12,65.0,NaN,NaN,72.0,50.33
2,S0003,14,Female,12,NaN,83.0,73.0,59.0,71.67
3,S0004,18,Female,9,68.0,68.0,NaN,77.0,64.33
4,S0005,14,Male,10,80.0,41.0,NaN,36.0,41.00
5,S0006,19,Male,12,82.0,88.0,70.0,NaN,68.00
...,...,...,...,...,...,...,...,...,...
143,S0144,14,Male,11,94.0,NaN,NaN,82.0,64.33
144,S0145,19,Male,12,56.0,83.0,NaN,97.0,93.00
145,S0146,19,Female,12,NaN,51.0,48.0,44.0,47.67
146,S0147,19,Male,11,54.0,96.0,56.0,50.0,67.33
147,S0148,19,Female,11,91.0,65.0,51.0,65.0,60.33

In [174]:
# here we are filtering data using condition dont forget to use parentheses
(df['Math_Score'] == 75) & (df['Science_Score'] == 75)

0      False
1      False
2      False
3      False
4      False
       ...
143    False
144    False
145    False
146    False
147    False
Length: 148, dtype: bool

In [175]:
# here we are using boolean making 
df[(df['Math_Score'] >= 75) & (df['Science_Score'] == 80)]
# if you see the output it will return empty dataframe because there is no row where math score is greater than or equal to 75 and science score is equal to 80

Empty DataFrame
Columns: [Student_ID, Age, Gender, Class, Attendance_Percentage, Math_Score, Science_Score, English_Score, Final_Percentage]
Index: []

In [176]:
# performing same operation using |(OR) operator
(df['Math_Score'] == 75) | (df['Science_Score'] == 75)

0      False
1      False
2      False
3      False
4      False
       ...
143    False
144    False
145    False
146    False
147    False
Length: 148, dtype: bool

In [177]:
# here we are using boolean making 
df[(df['Math_Score'] >= 75) | (df['Science_Score'] == 80)]

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
1,S0002,19,Female,9,58.0,80.0,44.0,35.0,53.00
2,S0003,14,Female,12,NaN,83.0,73.0,59.0,71.67
5,S0006,19,Male,12,82.0,88.0,70.0,NaN,68.00
6,S0007,16,Male,12,NaN,75.0,69.0,64.0,69.33
7,S0008,18,Female,11,81.0,93.0,37.0,48.0,59.33
10,S0011,14,Female,9,NaN,95.0,NaN,69.0,83.00
13,S0014,17,Female,10,76.0,79.0,82.0,100.0,NaN
19,S0020,19,Male,11,66.0,75.0,NaN,59.0,70.67
20,S0021,15,Female,10,65.0,NaN,80.0,70.0,65.33
21,S0022,15,Male,12,NaN,100.0,96.0,99.0,98.33
25,S0026,19,Female,9,78.0,68.0,80.0,69.0,72.33
29,S0030,16,Female,11,NaN,81.0,68.0,NaN,63.67
34,S0035,15,Female,12,79.0,97.0,95.0,53.0,81.67
35,S0036,18,Female,10,87.0,95.0,86.0,35.0,72.00
36,S0037,18,Female,10,54.0,82.0,NaN,71.0,84.33
38,S0039,16,Male,11,97.0,75.0,NaN,94.0,77.67
45,S0046,14,Male,9,55.0,87.0,37.0,55.0,59.67
50,S0051,18,Male,11,69.0,99.0,77.0,84.0,86.67
51,S0052,18,Female,11,63.0,82.0,NaN,72.0,72.33
52,S0053,15,Male,11,76.0,82.0,87.0,42.0,70.33
55,S0056,15,Female,12,75.0,86.0,71.0,79.0,78.67
56,S0057,16,Female,12,NaN,81.0,72.0,85.0,79.33
61,S0062,17,Female,10,99.0,78.0,35.0,91.0,68.00
62,S0063,19,Female,11,66.0,95.0,82.0,89.0,88.67
63,S0064,19,Female,12,56.0,75.0,40.0,40.0,51.67
64,S0065,19,Male,12,84.0,85.0,71.0,53.0,69.67
69,S0070,16,Female,9,91.0,93.0,93.0,41.0,75.67
70,S0071,14,Female,10,50.0,90.0,81.0,NaN,73.00
73,S0074,15,Female,11,57.0,85.0,NaN,67.0,74.33
75,S0076,17,Female,12,67.0,78.0,NaN,88.0,71.67
80,S0081,16,Female,10,68.0,81.0,76.0,62.0,73.00
85,S0086,17,Female,10,68.0,100.0,66.0,94.0,86.67
93,S0094,18,Female,9,50.0,99.0,70.0,39.0,69.33
94,S0095,19,Female,10,76.0,95.0,79.0,83.0,85.67
98,S0099,15,Male,9,NaN,85.0,78.0,55.0,72.67
100,S0101,17,Female,11,NaN,76.0,76.0,79.0,NaN
101,S0102,18,Female,9,92.0,91.0,37.0,78.0,68.67
103,S0104,14,Male,12,89.0,80.0,77.0,81.0,79.33
104,S0105,14,Male,9,61.0,97.0,36.0,57.0,63.33
105,S0106,15,Female,12,72.0,77.0,73.0,65.0,71.67
106,S0107,15,Female,11,67.0,93.0,67.0,47.0,NaN
107,S0108,16,Female,12,57.0,75.0,59.0,54.0,62.67
109,S0110,16,Female,12,NaN,86.0,88.0,96.0,90.00
114,S0115,18,Female,10,55.0,91.0,43.0,91.0,75.00
116,S0117,14,Male,9,77.0,87.0,61.0,47.0,NaN
118,S0119,15,Female,10,76.0,94.0,69.0,74.0,79.00
121,S0122,18,Male,9,99.0,90.0,85.0,75.0,83.33
122,S0123,19,Female,10,68.0,96.0,65.0,69.0,76.67
128,S0129,19,Female,10,NaN,83.0,NaN,100.0,90.67
131,S0132,19,Male,9,100.0,89.0,50.0,85.0,74.67
136,S0137,19,Male,12,83.0,81.0,93.0,73.0,82.33
138,S0139,17,Male,11,60.0,81.0,NaN,97.0,NaN
140,S0141,15,Female,10,89.0,96.0,NaN,59.0,69.00
141,S0142,16,Female,9,60.0,97.0,77.0,41.0,71.67
144,S0145,19,Male,12,56.0,83.0,NaN,97.0,93.00
146,S0147,19,Male,11,54.0,96.0,56.0,50.0,67.33

# TASK
HERE IS ANOTHER DATA FILE (data.csv) DO THE SAME EXAMPLES BELOW WHICH I HAVE DONE ABOVE FOR BETTER PRACTICE

In [178]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0