# isin()
it used to check whether the values are there in specific column or not

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('student_performance.csv')
print(df)

    Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0        S0001   15    Male     12                   65.0         NaN
1        S0002   19  Female      9                   58.0        80.0
2        S0003   14  Female     12                    NaN        83.0
3        S0004   18  Female      9                   68.0        68.0
4        S0005   14    Male     10                   80.0        41.0
..         ...  ...     ...    ...                    ...         ...
143      S0144   14    Male     11                   94.0         NaN
144      S0145   19    Male     12                   56.0        83.0
145      S0146   19  Female     12                    NaN        51.0
146      S0147   19    Male     11                   54.0        96.0
147      S0148   19  Female     11                   91.0        65.0

     Science_Score  English_Score  Final_Percentage
0              NaN           72.0             50.33
1             44.0           35.0             53.00
2             73.0           59.0             71.67
3              NaN           77.0             64.33
4              NaN           36.0             41.00
..             ...            ...               ...
143            NaN           82.0             64.33
144            NaN           97.0             93.00
145           48.0           44.0             47.67
146           56.0           50.0             67.33
147           51.0           65.0             60.33

[148 rows x 9 columns]

In [ ]:
# here we are checking if the math score is 80 or not for all the rows in the math score column and it will return a boolean value for each row
df['Math_Score'].isin([80])

0      False
1       True
2      False
3      False
4      False
       ...
143    False
144    False
145    False
146    False
147    False
Name: Math_Score, Length: 148, dtype: bool

In [6]:
# we can use isin() method for multiple values
df['Math_Score'].isin([80, 90])

0      False
1       True
2      False
3      False
4      False
       ...
143    False
144    False
145    False
146    False
147    False
Name: Math_Score, Length: 148, dtype: bool

In [ ]:
# we can use the boolean masking to filter the rows where the math score is 80 to get the actual rows where the math score is 80
df[df['Math_Score'] == 80]

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
1,S0002,19,Female,9,58.0,80.0,44.0,35.0,53.00
103,S0104,14,Male,12,89.0,80.0,77.0,81.0,79.33

In [ ]:
# we can also use loc[] method to filter the rows where the math score is 80
df.loc[df['Math_Score'] == 80]

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
1,S0002,19,Female,9,58.0,80.0,44.0,35.0,53.00
103,S0104,14,Male,12,89.0,80.0,77.0,81.0,79.33

# isin() multiple filtering

In [12]:
# 
f1 = df['Math_Score'] > 80
f2 = df['Science_Score'] > 80
df[f1&f2]

,Student_ID,Age,Gender,Class,Attendance_Percentage,Math_Score,Science_Score,English_Score,Final_Percentage
21,S0022,15,Male,12,NaN,100.0,96.0,99.0,98.33
34,S0035,15,Female,12,79.0,97.0,95.0,53.0,81.67
35,S0036,18,Female,10,87.0,95.0,86.0,35.0,72.00
52,S0053,15,Male,11,76.0,82.0,87.0,42.0,70.33
62,S0063,19,Female,11,66.0,95.0,82.0,89.0,88.67
69,S0070,16,Female,9,91.0,93.0,93.0,41.0,75.67
70,S0071,14,Female,10,50.0,90.0,81.0,NaN,73.00
109,S0110,16,Female,12,NaN,86.0,88.0,96.0,90.00
121,S0122,18,Male,9,99.0,90.0,85.0,75.0,83.33
136,S0137,19,Male,12,83.0,81.0,93.0,73.0,82.33