# Drop Row

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('student_performance.csv')
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score  Final_Percentage
0            NaN           72.0             50.33
1           44.0           35.0             53.00
2           73.0           59.0             71.67
3            NaN           77.0             64.33
4            NaN           36.0             41.00

In [29]:
# we drop rows in two ways one is by using axis parameter and the other is by using column parameter
df.drop('Final_Percentage',axis = 1, inplace = True)
print(df.head())
# so if you observe the output here we have dropped final percentage column

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score
0            NaN           72.0
1           44.0           35.0
2           73.0           59.0
3            NaN           77.0
4            NaN           36.0

In [30]:
# here is the using dropping columns using columns parameter
df.drop(columns = ['Gender'], inplace = True)
print(df.head())

  Student_ID  Age  Class  Attendance_Percentage  Math_Score  Science_Score  \
0      S0001   15     12                   65.0         NaN            NaN
1      S0002   19      9                   58.0        80.0           44.0
2      S0003   14     12                    NaN        83.0           73.0
3      S0004   18      9                   68.0        68.0            NaN
4      S0005   14     10                   80.0        41.0            NaN

   English_Score
0           72.0
1           35.0
2           59.0
3           77.0
4           36.0

In [31]:
# we can also drop multiple columns at once
df.drop(columns = ['Math_Score', 'Science_Score'], inplace = True)
print(df.head())

  Student_ID  Age  Class  Attendance_Percentage  English_Score
0      S0001   15     12                   65.0           72.0
1      S0002   19      9                   58.0           35.0
2      S0003   14     12                    NaN           59.0
3      S0004   18      9                   68.0           77.0
4      S0005   14     10                   80.0           36.0

In [32]:
# we can also drop collumns by using index but it is not recommended because if the index changes then the code will break
df.drop(df.columns[[1]], axis = 1, inplace = True)
print(df.head())
# so if you observe the output here we have dropped the second column

  Student_ID  Class  Attendance_Percentage  English_Score
0      S0001     12                   65.0           72.0
1      S0002      9                   58.0           35.0
2      S0003     12                    NaN           59.0
3      S0004      9                   68.0           77.0
4      S0005     10                   80.0           36.0

In [33]:
# we can also use negative indexing to drop the last column
df.drop(df.columns[-1], axis = 1, inplace = True)
print(df.head())
# so if you observe the output here we have dropped the last column

  Student_ID  Class  Attendance_Percentage
0      S0001     12                   65.0
1      S0002      9                   58.0
2      S0003     12                    NaN
3      S0004      9                   68.0
4      S0005     10                   80.0

# Drop Row

In [34]:
df = pd.read_csv('student_performance.csv')
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score  Final_Percentage
0            NaN           72.0             50.33
1           44.0           35.0             53.00
2           73.0           59.0             71.67
3            NaN           77.0             64.33
4            NaN           36.0             41.00

In [35]:
# we can drop rows by using index parameter but it is not recommended because if the index changes then the code will break 
df.drop(index = [0, 1], inplace = True)
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0
5      S0006   19    Male     12                   82.0        88.0
6      S0007   16    Male     12                    NaN        75.0

   Science_Score  English_Score  Final_Percentage
2           73.0           59.0             71.67
3            NaN           77.0             64.33
4            NaN           36.0             41.00
5           70.0            NaN             68.00
6           69.0           64.0             69.33

In [36]:
# here we are setting index to student id column
df.set_index('Student_ID', inplace = True)

In [37]:
# her we are dropping rows by using student id as index
df.drop(index=['S0003'], inplace=True)
print(df.head())

            Age  Gender  Class  Attendance_Percentage  Math_Score  \
Student_ID
S0004        18  Female      9                   68.0        68.0
S0005        14    Male     10                   80.0        41.0
S0006        19    Male     12                   82.0        88.0
S0007        16    Male     12                    NaN        75.0
S0008        18  Female     11                   81.0        93.0

            Science_Score  English_Score  Final_Percentage
Student_ID
S0004                 NaN           77.0             64.33
S0005                 NaN           36.0             41.00
S0006                70.0            NaN             68.00
S0007                69.0           64.0             69.33
S0008                37.0           48.0             59.33

In [38]:
# here we are dropping multiple rows at once by using student id as index
df.drop(['S0004','S0005'], axis=0, inplace=True)
print(df.head())

            Age  Gender  Class  Attendance_Percentage  Math_Score  \
Student_ID
S0006        19    Male     12                   82.0        88.0
S0007        16    Male     12                    NaN        75.0
S0008        18  Female     11                   81.0        93.0
S0009        18  Female     11                   61.0        55.0
S0010        18    Male     10                   97.0         NaN

            Science_Score  English_Score  Final_Percentage
Student_ID
S0006                70.0            NaN             68.00
S0007                69.0           64.0             69.33
S0008                37.0           48.0             59.33
S0009                39.0            NaN             59.00
S0010                73.0           73.0             72.67

# TASK
HERE IS ANOTHER DATA FILE (laptop_prices.csv) DO THE SAME EXAMPLES BELOW WHICH I HAVE DONE ABOVE FOR BETTER PRACTICE

In [39]:
import pandas as pd
df = pd.read_csv('laptop_prices.csv')
print(df.head())

   laptop_ID Company      Product   TypeName  Inches  \
0          1   Apple  MacBook Pro  Ultrabook    13.3
1          2   Apple  Macbook Air  Ultrabook    13.3
2          3      HP       250 G6   Notebook    15.6
3          4   Apple  MacBook Pro  Ultrabook    15.4
4          5   Apple  MacBook Pro  Ultrabook    13.3

                     ScreenResolution                         Cpu   Ram  \
0  IPS Panel Retina Display 2560x1600        Intel Core i5 2.3GHz   8GB
1                            1440x900        Intel Core i5 1.8GHz   8GB
2                   Full HD 1920x1080  Intel Core i5 7200U 2.5GHz   8GB
3  IPS Panel Retina Display 2880x1800        Intel Core i7 2.7GHz  16GB
4  IPS Panel Retina Display 2560x1600        Intel Core i5 3.1GHz   8GB

                Memory                           Gpu  OpSys  Weight  \
0            128GB SSD  Intel Iris Plus Graphics 640  macOS  1.37kg
1  128GB Flash Storage        Intel HD Graphics 6000  macOS  1.34kg
2            256GB SSD         Intel HD Graphics 620  No OS  1.86kg
3            512GB SSD            AMD Radeon Pro 455  macOS  1.83kg
4            256GB SSD  Intel Iris Plus Graphics 650  macOS  1.37kg

   Price_euros
0      1339.69
1       898.94
2       575.00
3      2537.45
4      1803.60