# Drop Row

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('student_performance.csv')
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score  Final_Percentage
0            NaN           72.0             50.33
1           44.0           35.0             53.00
2           73.0           59.0             71.67
3            NaN           77.0             64.33
4            NaN           36.0             41.00

In [16]:
# we drop rows in two ways one is by using axis parameter and the other is by using column parameter
df.drop('Final_Percentage',axis = 1, inplace = True)
print(df.head())
# so if you observe the output here we have dropped final percentage column

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score
0            NaN           72.0
1           44.0           35.0
2           73.0           59.0
3            NaN           77.0
4            NaN           36.0

In [17]:
# here is the using dropping columns using columns parameter
df.drop(columns = ['Gender'], inplace = True)
print(df.head())

  Student_ID  Age  Class  Attendance_Percentage  Math_Score  Science_Score  \
0      S0001   15     12                   65.0         NaN            NaN
1      S0002   19      9                   58.0        80.0           44.0
2      S0003   14     12                    NaN        83.0           73.0
3      S0004   18      9                   68.0        68.0            NaN
4      S0005   14     10                   80.0        41.0            NaN

   English_Score
0           72.0
1           35.0
2           59.0
3           77.0
4           36.0

In [18]:
# we can also drop multiple columns at once
df.drop(columns = ['Math_Score', 'Science_Score'], inplace = True)
print(df.head())

  Student_ID  Age  Class  Attendance_Percentage  English_Score
0      S0001   15     12                   65.0           72.0
1      S0002   19      9                   58.0           35.0
2      S0003   14     12                    NaN           59.0
3      S0004   18      9                   68.0           77.0
4      S0005   14     10                   80.0           36.0

In [19]:
# we can also drop collumns by using index but it is not recommended because if the index changes then the code will break
df.drop(df.columns[[1]], axis = 1, inplace = True)
print(df.head())
# so if you observe the output here we have dropped the second column

  Student_ID  Class  Attendance_Percentage  English_Score
0      S0001     12                   65.0           72.0
1      S0002      9                   58.0           35.0
2      S0003     12                    NaN           59.0
3      S0004      9                   68.0           77.0
4      S0005     10                   80.0           36.0

In [20]:
# we can also use negative indexing to drop the last column
df.drop(df.columns[-1], axis = 1, inplace = True)
print(df.head())
# so if you observe the output here we have dropped the last column

  Student_ID  Class  Attendance_Percentage
0      S0001     12                   65.0
1      S0002      9                   58.0
2      S0003     12                    NaN
3      S0004      9                   68.0
4      S0005     10                   80.0

# Drop Row

# TASK
HERE IS ANOTHER DATA FILE (data.csv) DO THE SAME EXAMPLES BELOW WHICH I HAVE DONE ABOVE FOR BETTER RACTICE

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())