In [19]:
import pandas as pd
import numpy as np

In [20]:

df = pd.read_csv('student_performance.csv')
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score  Final_Percentage
0            NaN           72.0             50.33
1           44.0           35.0             53.00
2           73.0           59.0             71.67
3            NaN           77.0             64.33
4            NaN           36.0             41.00

In [21]:
# here we dropping final percentage column for showing how to add new columns
df.drop(columns=['Final_Percentage'], inplace=True)
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score
0            NaN           72.0
1           44.0           35.0
2           73.0           59.0
3            NaN           77.0
4            NaN           36.0

# add new column

In [22]:
df['Average']= (df['Math_Score'] + df['Science_Score'] + df['English_Score']) / 3
print(df.head())
# if there are any NaN(none) values in any of the row then average column will have NaN value for that row

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score    Average
0            NaN           72.0        NaN
1           44.0           35.0  53.000000
2           73.0           59.0  71.666667
3            NaN           77.0        NaN
4            NaN           36.0        NaN

In [23]:
# here we are calculation percentage 
df['Percentage'] = (df['Average']*300)/100
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score    Average  Percentage
0            NaN           72.0        NaN         NaN
1           44.0           35.0  53.000000       159.0
2           73.0           59.0  71.666667       215.0
3            NaN           77.0        NaN         NaN
4            NaN           36.0        NaN         NaN

In [24]:
# we can round the percentage column values to 2 decimal places using round() method
df['Average'] = df['Average'].round(2)
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score  Average  Percentage
0            NaN           72.0      NaN         NaN
1           44.0           35.0    53.00       159.0
2           73.0           59.0    71.67       215.0
3            NaN           77.0      NaN         NaN
4            NaN           36.0      NaN         NaN

# adding new coulumn by using np.select

In [25]:
cond = [
    (df['Percentage'] >= 90),
    (df['Percentage'] >= 75) & (df['Percentage'] < 90),
    (df['Percentage'] >= 50) & (df['Percentage'] < 75),
    (df['Percentage'] < 50) & (df['Percentage'] >= 35),
    (df['Percentage'] < 35) & (df['Percentage'] == 0),
    (df['Percentage'].isnull())
]
choice = ['A+', 'A', 'B', 'C', 'F', 'Not Available']

In [26]:
# some of the values in percentage column are NaN so we have to handle that while assigning grades for that we have to use default parameter
df['Grades'] = np.select(cond, choice, default='Not Available')
print(df.head())
# so if you observe the grades column has Not Available for the rows which have NaN values in percentage column because we have assigned default value as Not Available for the rows which have NaN values in percentage column
# if we wont use default parameter then it will raise an error because there are some NaN values in percentage column so we have to handle that while assigning grades for that we have to use default parameter

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score  Average  Percentage         Grades
0            NaN           72.0      NaN         NaN  Not Available
1           44.0           35.0    53.00       159.0             A+
2           73.0           59.0    71.67       215.0             A+
3            NaN           77.0      NaN         NaN  Not Available
4            NaN           36.0      NaN         NaN  Not Available

# TASK
HERE IS ANOTHER DATA FILE (laptop_prices.csv) DO THE SAME EXAMPLES BELOW WHICH I HAVE DONE ABOVE FOR BETTER PRACTICE

In [27]:
import pandas as pd
df = pd.read_csv('laptop_prices.csv')
print(df.head())

   laptop_ID Company      Product   TypeName  Inches  \
0          1   Apple  MacBook Pro  Ultrabook    13.3
1          2   Apple  Macbook Air  Ultrabook    13.3
2          3      HP       250 G6   Notebook    15.6
3          4   Apple  MacBook Pro  Ultrabook    15.4
4          5   Apple  MacBook Pro  Ultrabook    13.3

                     ScreenResolution                         Cpu   Ram  \
0  IPS Panel Retina Display 2560x1600        Intel Core i5 2.3GHz   8GB
1                            1440x900        Intel Core i5 1.8GHz   8GB
2                   Full HD 1920x1080  Intel Core i5 7200U 2.5GHz   8GB
3  IPS Panel Retina Display 2880x1800        Intel Core i7 2.7GHz  16GB
4  IPS Panel Retina Display 2560x1600        Intel Core i5 3.1GHz   8GB

                Memory                           Gpu  OpSys  Weight  \
0            128GB SSD  Intel Iris Plus Graphics 640  macOS  1.37kg
1  128GB Flash Storage        Intel HD Graphics 6000  macOS  1.34kg
2            256GB SSD         Intel HD Graphics 620  No OS  1.86kg
3            512GB SSD            AMD Radeon Pro 455  macOS  1.83kg
4            256GB SSD  Intel Iris Plus Graphics 650  macOS  1.37kg

   Price_euros
0      1339.69
1       898.94
2       575.00
3      2537.45
4      1803.60