aggregate() or agg(): The core method that applies one or more functions to the data.<br>
groupby(): Used to group data based on one or more columns before applying an aggregation function to each grou

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('student_performance.csv')
print(df.head())

  Student_ID  Age  Gender  Class  Attendance_Percentage  Math_Score  \
0      S0001   15    Male     12                   65.0         NaN
1      S0002   19  Female      9                   58.0        80.0
2      S0003   14  Female     12                    NaN        83.0
3      S0004   18  Female      9                   68.0        68.0
4      S0005   14    Male     10                   80.0        41.0

   Science_Score  English_Score  Final_Percentage
0            NaN           72.0             50.33
1           44.0           35.0             53.00
2           73.0           59.0             71.67
3            NaN           77.0             64.33
4            NaN           36.0             41.00

# agg()

In [ ]:
# to calculate the mean of the specific column we can use agg() method and pass the function name as a string to it
# here the function is mean
df['Math_Score'].agg('mean')

np.float64(68.73076923076923)

In [ ]:
# to calculate the median of the specific column we can use agg() method and pass the function name as a string to it
# here the function is median
df['Science_Score'].agg('median')

np.float64(71.0)

In [40]:
# to calculate the minimum value of the specific column we can use agg() method and pass the function name as a string to it
# here the function is min
df['Science_Score'].agg('min')

np.float64(35.0)

In [ ]:
# to calculate the maximum value of the specific column we can use agg() method and pass the function name as a string to it
# here the function is max
df['Science_Score'].agg('max')

np.float64(100.0)

In [ ]:
# to calculate the standard deviation of the specific column we can use agg() method and pass the function name as a string to it
# here the function is std
df['Science_Score'].agg('std')

np.float64(19.448627453201343)

In [41]:
# to claculate number of non null vlaues in the specific column we can use agg() method and pass the function name as a string to it
# here the function is count

df['Science_Score'].agg('count')

np.int64(119)

In [ ]:
# to calculate the variance of the specific column we can use agg() method and pass the function name as a string to it
# here the function is var
df['Science_Score'].agg('var')

np.float64(378.2491098134169)

In [ ]:
# to calculate the sum of the specific column we can use agg() method and pass the function name as a string to it
# here the function is sum
df['Math_Score'].agg('sum')

np.float64(8935.0)

In [ ]:
# here we can pass multiple functions to the agg() method by passing a list of function names as strings to it
df['Math_Score'].agg(['mean','max','min','std','var','count'])

mean      68.730769
max      100.000000
min       35.000000
std       18.450768
var      340.430829
count    130.000000
Name: Math_Score, dtype: float64

In [31]:
# to calculate the aggregate function on multiple columns we can pass a list of column names to the agg() method and then pass the function name as a string to it
df[['Math_Score', 'Science_Score']].agg("sum", axis=1)
# here we are using axis = 1 to calculate sum across the columns for each row

0        0.0
1      124.0
2      156.0
3       68.0
4       41.0
       ...
143      0.0
144     83.0
145     99.0
146    152.0
147    116.0
Length: 148, dtype: float64

In [32]:
#  if we use axis = 0 then it will calculate the sum for each column separately
df[['Math_Score', 'Science_Score']].agg("sum", axis=0)

Math_Score       8935.0
Science_Score    8005.0
dtype: float64

In [36]:
# here we are performing column wise aggregation with multiple functions on multiple columns here default axis = 0
df.agg({'Math_Score' : ['sum', 'mean'], 'Science_Score' : ['sum', 'max']})
# here if you observe the output mean for Science_Score is NaN because we have not specified the function for that column so it will return NaN for that column and for Math_Score we have specified both sum and mean so it will return the sum and mean for that column
# NaN here means “function not applied”, not bad data

       Math_Score  Science_Score
sum   8935.000000         8005.0
mean    68.730769            NaN
max           NaN          100.0